{% extends "layout.html" %}

{% block title %}
    Portfolio Home
{% endblock %}

{% block main %}
    {% if rows == [] %}
        <div>No purchase history yet. $10,000.00 available starting cash.</div>
    {% else %}
        <h3>Total value of all holdings: {{ grand_total }}</h3>
        <h4>Current cash available: {{ current_cash }}</h4>
        <hr />
        <table>
        <tr>
            <td class='table-title'>Stock Symbol</td>
            <td class='table-title'>Current Stock Price</td>
            <td class='table-title'>No. Shares Owned</td>
            <td class='table-title'>Total Value</td>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{ row.symbol }}</td>
            <td>{{ row.current_price }}</td>
            <td>{{ row['sum(shares_purchased)'] }}</td>
            <td>{{ row['total_value'] }}</td>
        </tr>
        {% endfor %}

        </table>

    {% endif %}
{% endblock %}